$text-light: #ff0066;
$text-dark: #00aaff;

$code-light: #ff0066;
$code-dark: #00aaff;

$text-light-2: #b30047;
$text-dark-2: #4dc3ff;

$tag-bg-light: #e5e5e5;
$tag-bg-dark: #272727;

$body-color-light: rgba(0, 0, 0, .8);
$body-color-dark: rgba(255, 255, 255, .8);

$body-bg-light: #f2f2f2;
$body-bg-dark: #0F0F0F;

$code-lightest-green: #8fbc8f;
$code-light-green: #9ccc65;
$code-green: #6aaf50;
$code-dark-green: #1d9a79;
$code-green-bg: #042b11;
$code-light-blue: #68a5e9;
$code-blue: #5180b3;
$code-blue-bg: #112b47;
$code-orange: #df9522;
$code-tan: #bdbc61;
$code-dark-tan: #7d7c61;
$code-bright-yellow: #fffe0a;
$code-yellow: #baba36;
$code-purple: #ab75c3;
$code-light-gray: #858585;
$code-gray: #757575;
$code-dark-gray: #656565;
$code-darker-gray: #454545;
$code-darkest-gray: #252525;
$code-blue-gray: #608079;
$code-brown: #987654;
$code-red: #d65946;
$code-dark-red: #9d2512;

$code-bg: rgba(36, 37, 43, 1);
$code-fg: #bdbdb3;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$root-font-size: 16px;
$root-line-height: 1.5;

$large-breakpoint: 38em;
$large-font-size: 20px;
