{% extends "base.html" %}

{% block content %}

{% set section = get_section(path="post/_index.md") %}

<h2>{{ section.title }}</h2>
{% for page in section.pages %}
<div class="postitem-container">
    <div class="postitem-metadata">
        {% if page.date %}
        <div>{{ page.date | date(format="%B %Y") }}</div>
        {% endif %}
    </div>
    <div class="postitem-content">
        <h3><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
        {% if page.taxonomies.tags %}
        <div>
            {% for tag in page.taxonomies.tags %}
            <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock content %}